.loginWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10%;
}

.buttonsWrapper {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.button {
    margin-bottom: 10%;
}

.inputTitle {
  text-align: left;
}

.inputArea {
  width: 700px;
}
