.profilePageWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profilePageTitle {
  color: white;
  font-size: 200%;
  text-align: left;
  margin-bottom: 5%;
}

.profilePageUserNameTitle {
  text-align: left;
}

.profilePageForm {
  position: relative;
}

.profilePageInput {
  width: 700px;
  background-color: black !important;
  color: white !important;
}

.profilePageButton {
  position: absolute;
  right: 0;
}

.uploadTitle {
  margin-top: 20%;
  margin-bottom: 10%;
}

.uploadImageButton {
  margin-top: 10%;
  margin-bottom: 10%;
}